registry=https://jokervtv.pkgs.visualstudio.com/_packaging/ncl-vscode-support/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 2019/8/23.
; begin auth token
//jokervtv.pkgs.visualstudio.com/_packaging/ncl-vscode-support/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIzMDdiY2QzZC1mYTk1LTYxOGQtODI2Ni0wN2I5Mjk4ZjZhZjAiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNTRlNWI4ZWItNTgzZi00YWJjLTkwMGEtYjc4ZjQyNDc5MzNlIiwic2lkIjoiNTljYWRlM2YtNDBiZS00OGRmLTk1YzktYzRjNzFjNmM0M2E4IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmQxYjE3N2I5LTgwYjYtNGUzNC04MjEyLTllMDZjZGEzMjZlYiIsIm5iZiI6MTU1ODc1OTE2MSwiZXhwIjoxNTY2NTM1NzYxfQ.lHLV4B1i5QMw1TP-vOu4Q6d3BvUk_PVkQPUbUT9CPUdlNGy59eUOJD6FQVEcV8flyCNzOJpB8mC5i9mzRyy-_ZFNal6VaZmatEWMR9ctmUz6960q77MgfQ13WE0v5StBVzpI6RtrpbVUyv05hhG-3dFw36coFhKNbULOMTdGbs_rhl7WSvkJKPRz_NR1ou_BUfuD1qpghqNC5EqfrKJb_0ZHSFIV0Qxgh3AxRXXDk8g94vTx6GVsLxgCJFJwBHd--M200y0EvUcXMIkwWrmWEFscz8uqvLD5Nzjr7paR0NK0-QmviAE7GiSjZi1rqrQLHQHaEEmp3iDn6ZGx4n84Hw
//jokervtv.pkgs.visualstudio.com/_packaging/ncl-vscode-support/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIzMDdiY2QzZC1mYTk1LTYxOGQtODI2Ni0wN2I5Mjk4ZjZhZjAiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNTRlNWI4ZWItNTgzZi00YWJjLTkwMGEtYjc4ZjQyNDc5MzNlIiwic2lkIjoiNTljYWRlM2YtNDBiZS00OGRmLTk1YzktYzRjNzFjNmM0M2E4IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmQxYjE3N2I5LTgwYjYtNGUzNC04MjEyLTllMDZjZGEzMjZlYiIsIm5iZiI6MTU1ODc1OTE2MSwiZXhwIjoxNTY2NTM1NzYxfQ.lHLV4B1i5QMw1TP-vOu4Q6d3BvUk_PVkQPUbUT9CPUdlNGy59eUOJD6FQVEcV8flyCNzOJpB8mC5i9mzRyy-_ZFNal6VaZmatEWMR9ctmUz6960q77MgfQ13WE0v5StBVzpI6RtrpbVUyv05hhG-3dFw36coFhKNbULOMTdGbs_rhl7WSvkJKPRz_NR1ou_BUfuD1qpghqNC5EqfrKJb_0ZHSFIV0Qxgh3AxRXXDk8g94vTx6GVsLxgCJFJwBHd--M200y0EvUcXMIkwWrmWEFscz8uqvLD5Nzjr7paR0NK0-QmviAE7GiSjZi1rqrQLHQHaEEmp3iDn6ZGx4n84Hw
; end auth token